.carousel {
	margin-bottom: 0;
	padding: 0 40px 30px 40px;
}

.carousel1-control {
	left: -12px;
}
.carousel1-control.right {
	right: -12px;
}

.carousel1-indicators {
	top: auto;
	bottom: 0px;
}

.carousel1-indicators li {
	background: #c0c0c0;
}

.carousel1-indicators .active {
background: #333333;
}