div {
    display: block;
}

#filters {
	background-color: #f5f4f0;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding: 6px 0 0 0;
	margin-right: 20px
}

.aside {
    width: 245px;
}

.resp-col {
    display: inline-block;
    vertical-align: top;
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hotelbody {
    color: #4e4e4e;
    font-size: 12px;
    line-height: 135%;
    font-family: arial,helvetica,sans-serif;
    background: #fff;
}

.resp-row {
    min-width: 320px;
    max-width: 1160px;
    width: auto;
}

.resp-row {
    margin: 0px auto !important;
    width: 956px;
    padding-left: 0;
}

.search-header-link {
    padding: 10px 20px 10px 0;
    height: 73px;
}

.resp-col {
    display: inline-block;
    vertical-align: top;
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#listings.aside-map-show .search-header-link.aside-map, #filters.aside-map-show .search-header-link.aside-map {
    display: block;
}

#filters .aside-map {
    padding: 6px 10px 10px 10px;
    height: auto;
    display: block;
}

.filters-overlay-close {
    padding: 2px 10px 0;
}

a, a:link {
    text-decoration: none;
}

.search-header-link-body {
    display: block;
    width: 100%;
    max-width: 203px;
    height: 54px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 2px;
    position: relative;
    /* background: transparent url(/da/assets/s/63.0.10328/images/themes/red/pages/sha/map.png) no-repeat left top; */
    background-size: cover;
}

.narrow-results-header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 0;
}

#filters fieldset {
    padding-bottom: 6px;
    border-top: 1px solid #e5e3db;
    margin-top: 1px;
    padding: 0 10px;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

#filters h3 {
    font-size: 13px;
    font-weight: bold;
    margin: 0 -10px;
    padding: 6px 10px;
}

#filters h3 {
    cursor: pointer;
    padding-left: 23px;
    position: relative;
}

#filters h3:before {
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1em;
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
    width: 11px;
}

#filters fieldset .filter-contents {
    clear: both;
}

#filter-name label, #filter-price .input-wrapper label, #filter-guest-rating .input-wrapper label {
    padding: 0;
}

.offscreen {
    position: absolute;
    left: -999em;
}

.hotellabel {
    cursor: default;
    margin-bottom: 0.1rem;
}

#filters .name-input-wrapper {
    background-color: transparent;
    display: inline-block;
}

#filter-name input {
    padding: 1px 3px;
    width: 155px;
}

input[type=text], input[type=email], input[type=password], input[type=tel], input[type=number], select, textarea {
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 1px #f5f4f0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #4e4e4e;
    font-size: 12px;
    margin: 3px 0;
    padding: 5px 10px 4px 7px;
}

input, select {
    color: #4e4e4e;
    font-family: inherit;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

#filter-name .cta {
    padding: 2px 5px 1px 7px;
    font-size: 8px;
    margin: 4px 0 2px 5px;
    vertical-align: top;
    min-width: 23px;
}

.cta.cta-control {
    box-shadow: none;
}

.cta, a.cta, .cta:link, .cta:visited {
    background-color: #ff8080;
    border: 1px solid #ff0080;
    border-radius: 2px;
    box-shadow: inset 0 -2px 0 #ff80c0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 2px 4px;
    overflow: hidden;
    padding: 4px 16px;
    position: relative;
    vertical-align: middle;
    width: auto;
}

/* button {
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(buttontext, rgb(170, 170, 170));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
} */
	
.cta:before {
    background-repeat: no-repeat;
    content: ' ';
    display: inline-block;
    height: 24px;
    left: 50%;
    margin: -12px 0 0 -12px;
    position: absolute;
    top: 250%;
    width: 24px;
}

.hotelbody {
    font: 12px/135% arial,helvetica,clean,sans-serif;
}

#filters fieldset .filter-legend {
    float: left;
    width: 100%;
}

legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

ol, ul {
    list-style: none;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
}

#filters li {
    padding-bottom: 3px;
    position: relative;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#filters input[type="checkbox"] {
    position: absolute;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: checkbox;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

.checkbox-filters label, .touch .inline-touch-controls .normal-checkbox label {
    -webkit-font-smoothing: subpixel-antialiased;
    cursor: pointer;
    display: block;
    padding: 2px 22px 0 22px;
}

li {
    text-align: -webkit-match-parent;
}

#filter-price input, #filter-price select, #filter-guest-rating input, #filter-guest-rating select {
    display: block;
    /* width: 80%; */
}

#filter-price .input-wrapper, #filter-guest-rating .input-wrapper {
    float: left;
    width: 50%;
}

.widget-slider-enabled label, .widget-slider-disabled label, .widget-slider-enabled .form-text, .widget-slider-disabled .form-text, .widget-slider-enabled .input-wrapper, .widget-slider-disabled .input-wrapper {
    position: absolute;
    top: -999em;
}

#filter-name label, #filter-price .input-wrapper label, #filter-guest-rating .input-wrapper label {
    padding: 0;
}

.widget-slider {
    margin: 0 26px;
}

.filters .active, .clear-filters, .filters .active input[type="text"], .filters .widget-slider-current-values {
    -moz-transition: background-color .25s ease-in;
    -webkit-transition: background-color .25s ease-in;
    transition: background-color .25s ease-in;
    background-color: transparent;
}

.widget-slider-current-values {
    font-weight: bold;
    margin-bottom: 4px;
    padding: 2px 0;
    position: relative;
    text-align: center;
}

.widget-slider-cont {
    background: transparent;
    background: -moz-linear-gradient(top,transparent 35%,#ccc 35%,#ccc 52%,transparent 20%);
    background: -webkit-linear-gradient(top,transparent 35%,#ccc 35%,#ccc 52%,transparent 20%);
    background: -o-linear-gradient(top,transparent 35%,#ccc 35%,#ccc 52%,transparent 20%);
    background: linear-gradient(to bottom,transparent 35%,#ccc 35%,#ccc 52%,transparent 20%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#00000000',EndColorStr='#00000000')";
    zoom: 1;
    cursor: pointer;
    position: relative;
    height: 30px;
}

.widget-slider-highlight {
    position: relative;
    background: none;
    border-bottom: 8px solid #ff8080;
    height: 16px;
}

.widget-slider-handle-min {
    margin-left: -24px;
}

.widget-slider-handle {
    border-radius: 50%;
    position: absolute;
    top: 0;
    display: block;
    width: 25px;
    height: 25px;
    padding: 4px 0 0 1px;
    line-height: 10px;
    background: #fff;
    color: #ff0080;
    border: 1px solid #ff0080;
    box-shadow: none;
    text-align: center;
    cursor: pointer;
    /* font-size: 10px; */
}

#amount {
	border: 0;
	color: #f6931f;
	background: #f5f4f0;
	margin: 5px 0;
	text-align:center;
	height:50px;
	padding: .1em;
}

#amount2 {
	border: 0;
	color: #f6931f;
	background: #f5f4f0;
	margin: 5px 0;
	text-align:center;
	height:50px;
	padding: .1em;
}

.slider-padding {
	padding: 0 0 10px 0;
}