<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.spring.hotelspace.client.reservation.dao.ClientReservationDAO">

	<select id="revInfo" parameterType="clientReservationInfoVO"
		resultType="clientReservationInfoVO">
		select room_id,hotel_id, room_name, room_price,
		room_amount,
		room_standard_people, room_max_people,
		room_price_people,
		room_services,
		room_info, room_usage
		from
		room
		where room_id = #{roomId}
	</select>

	<insert id="insertReserv" parameterType="clientReservationVO">

		insert into reservation
        values((select to_char(max(to_number(reservation_id,'999999'))+1) from
        reservation),#{clientId},#{hotelId},#{roomId},to_date(#{reservationInDate},'YYYY-MM-DD'),to_date(#{reservationOutDate},'YYYY-MM-DD'),#{reservationPayment},#{reservationPeople},
        SYSDATE,0)

	</insert>

</mapper>
