<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.hotelspace.client.search.dao.ClientSearchHotelDAO">

	<select id="selectHotelListAll" parameterType="java.util.HashMap" resultMap="hotelResultMap">
	 
		SELECT * FROM (
		SELECT DISTINCT RANK() OVER (ORDER BY hotel.HOTEL_STAR DESC ) as "row" , hotel.HOTEL_ID, hotel.USER_ID, hotel.HOTEL_NAME, hotel.HOTEL_TEL,
			hotel.HOTEL_AREA, hotel.HOTEL_ADDRESS, hotel.HOTEL_CONCEPT, hotel.HOTEL_STAR, hotel.HOTEL_REG_DATE ,
			(SELECT min(room.ROOM_PRICE) 
				FROM room 
					WHERE room.HOTEL_ID = hotel.HOTEL_ID 
			) as lowestPrice,
		(SELECT hotelimage.image_link FROM HOTEL_IMAGE hotelimage
				WHERE hotel.HOTEL_ID = hotelimage.HOTEL_ID
					AND hotelimage.IMAGE_TYPE = 'MAIN') as mainImage, 
				facilities.FACILITIES_PARKING, facilities.FACILITIES_POOL, facilities.FACILITIES_BREAKFAST, facilities.FACILITIES_FITNESS, facilities.FACILITIES_WIFI, facilities.FACILITIES_PARTYROOM  
				FROM HOTEL hotel, ROOM room, FACILITIES facilities 
					WHERE hotel.HOTEL_ID = room.HOTEL_ID AND hotel.HOTEL_ID = facilities.HOTEL_ID AND room.HOTEL_ID = facilities.HOTEL_ID
				<![CDATA[
					AND room.ROOM_AMOUNT > 
						(SELECT count(reservation.RESERVATION_ID) 
							FROM RESERVATION reservation
								WHERE room.ROOM_ID = reservation.ROOM_ID 
									AND room.HOTEL_ID = reservation.HOTEL_ID 
								
									AND NOT (reservation.RESERVATION_IN_DATE >= #{checkInDate}
										AND reservation.RESERVATION_OUT_DATE <= #{checkInDate}) 
									AND NOT (reservation.RESERVATION_IN_DATE >= #{checkOutDate} 
										AND reservation.RESERVATION_OUT_DATE <= #{checkOutDate} )
                    	)
					
				AND 
					(SELECT min(room.ROOM_PRICE) 
					FROM room 
						WHERE room.HOTEL_ID = hotel.HOTEL_ID 
					) >= #{minPrice}
					
					AND (SELECT min(room.ROOM_PRICE) 
					FROM room 
						WHERE room.HOTEL_ID = hotel.HOTEL_ID 
					) <= #{maxPrice} 
					
					AND
						HOTEL_STAR >= #{minStar} 
					AND 
						HOTEL_STAR <= #{maxStar} 
			 	]]>
				 	
				 <if test="checkedKeyword != null and !checkedKeyword.equals('')">
					AND HOTEL_NAME LIKE '%'||#{checkedKeyword}||'%' 
				</if>
				<if test="checkedConcept != null and !checkedConcept.equals('')">
					AND HOTEL_CONCEPT = #{checkedConcept} 
				</if>
				<if test="parking != null and !parking.equals('')" >
					AND FACILITIES_PARKING = 1 
				</if>
				<if test="pool != null and !pool.equals('')">
					AND FACILITIES_POOL = 1 
				</if>
				<if test="breakfast != null and !breakfast.equals('')">
					AND FACILITIES_BREAKFAST = 1 
				</if>
				<if test="fitness != null and !fitness.equals('')">
					AND FACILITIES_FITNESS = 1 
				</if>
				<if test="wifi != null and !wifi.equals('')">
					AND FACILITIES_WIFI = 1 
				</if>
				<if test="partyRoom != null and !partyRoom.equals('')">
					AND FACILITIES_PARTYROOM = 1 
				</if>
				ORDER BY hotel.HOTEL_STAR DESC 
			) 
			<![CDATA[
				WHERE 
					"row" >= #{start} 
				AND 
					"row" <=  #{end} 
			]]> 
	</select>


	<select id="selectHotelToSearchBar" parameterType="java.util.HashMap" resultMap="hotelResultMap">
		<![CDATA[
		SELECT * FROM (
		SELECT DISTINCT RANK() OVER (ORDER BY hotel.HOTEL_STAR DESC ) as "row" , hotel.HOTEL_ID, hotel.USER_ID, hotel.HOTEL_NAME, hotel.HOTEL_TEL, hotel.HOTEL_AREA, hotel.HOTEL_ADDRESS, hotel.HOTEL_CONCEPT, hotel.HOTEL_STAR, hotel.HOTEL_REG_DATE, 
			(SELECT min(room.ROOM_PRICE) 
				FROM room 
					WHERE room.HOTEL_ID = hotel.HOTEL_ID 
			) as lowestPrice,
			(SELECT hotelimage.image_link FROM HOTEL_IMAGE hotelimage
				WHERE hotel.HOTEL_ID = hotelimage.HOTEL_ID
					AND hotelimage.IMAGE_TYPE = 'MAIN') as mainImage, 
						facilities.FACILITIES_PARKING, facilities.FACILITIES_POOL, facilities.FACILITIES_BREAKFAST, facilities.FACILITIES_FITNESS, facilities.FACILITIES_WIFI, facilities.FACILITIES_PARTYROOM  
			FROM HOTEL hotel, ROOM room, FACILITIES facilities
				WHERE 
					hotel.HOTEL_ID = room.HOTEL_ID AND hotel.HOTEL_ID = facilities.HOTEL_ID AND room.HOTEL_ID = facilities.HOTEL_ID
					AND #{people} <= room.ROOM_MAX_PEOPLE
					AND room.ROOM_AMOUNT > 
			
					(SELECT count(reservation.RESERVATION_ID) 
						FROM RESERVATION reservation
							WHERE room.ROOM_ID = reservation.ROOM_ID 
								AND room.HOTEL_ID = reservation.HOTEL_ID 
								
								AND NOT (reservation.RESERVATION_IN_DATE >= #{checkInDate}
									AND reservation.RESERVATION_OUT_DATE <= #{checkInDate}) 
								AND NOT (reservation.RESERVATION_IN_DATE >= #{checkOutDate} 
									AND reservation.RESERVATION_OUT_DATE <= #{checkOutDate} )
                    )
		]]>
					
			AND hotel.HOTEL_NAME LIKE '%'||#{searchKeyword}||'%' 
			<if test="!area.equals('전체')">
				AND
					hotel.HOTEL_AREA = #{area}
			</if>
			<if test="filter.equals('yes')">	
				<![CDATA[
					 AND 
						(SELECT min(room.ROOM_PRICE) 
						FROM room 
							WHERE room.HOTEL_ID = hotel.HOTEL_ID 
						) >= #{minPrice}
						
						AND (SELECT min(room.ROOM_PRICE) 
						FROM room 
							WHERE room.HOTEL_ID = hotel.HOTEL_ID 
						) <= #{maxPrice} 
						
						AND
							HOTEL_STAR >= #{minStar} 
						AND 
							HOTEL_STAR <= #{maxStar} 
				 ]]>
				 
				 	<if test="checkedKeyword != null and !checkedKeyword.equals('')">
						AND HOTEL_NAME LIKE '%'||#{checkedKeyword}||'%' 
					</if>
					<if test="checkedConcept != null and !checkedConcept.equals('')">
						AND HOTEL_CONCEPT = #{checkedConcept} 
					</if>
					<if test="parking != null and !parking.equals('')" >
						AND FACILITIES_PARKING = 1 
					</if>
					<if test="pool != null and !pool.equals('')">
						AND FACILITIES_POOL = 1 
					</if>
					<if test="breakfast != null and !breakfast.equals('')">
						AND FACILITIES_BREAKFAST = 1 
					</if>
					<if test="fitness != null and !fitness.equals('')">
						AND FACILITIES_FITNESS = 1 
					</if>
					<if test="wifi != null and !wifi.equals('')">
						AND FACILITIES_WIFI = 1 
					</if>
					<if test="partyRoom != null and !partyRoom.equals('')">
						AND FACILITIES_PARTYROOM = 1 
					</if>
				</if>
				ORDER BY hotel.HOTEL_STAR DESC
		)
			<![CDATA[
				WHERE
					"row" >= #{start} 
				AND
					"row" <=  #{end}
			]]> 
	</select>


	<select id="getHotelCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		SELECT count(HOTEL_ID) FROM (
		<![CDATA[
			SELECT DISTINCT hotel.HOTEL_ID,
				facilities.FACILITIES_PARKING, facilities.FACILITIES_POOL, facilities.FACILITIES_BREAKFAST, facilities.FACILITIES_FITNESS, facilities.FACILITIES_WIFI, facilities.FACILITIES_PARTYROOM  
					FROM HOTEL hotel, ROOM room, FACILITIES facilities
						WHERE 
							hotel.HOTEL_ID = room.HOTEL_ID AND hotel.HOTEL_ID = facilities.HOTEL_ID AND room.HOTEL_ID = facilities.HOTEL_ID
					
		]]>
				<![CDATA[
						AND room.ROOM_AMOUNT > 
						(SELECT count(reservation.RESERVATION_ID) 
							FROM RESERVATION reservation
								WHERE room.ROOM_ID = reservation.ROOM_ID 
									AND room.HOTEL_ID = reservation.HOTEL_ID 
									AND NOT (reservation.RESERVATION_IN_DATE >= #{checkInDate}
										AND reservation.RESERVATION_OUT_DATE <= #{checkInDate}) 
									AND NOT (reservation.RESERVATION_IN_DATE >= #{checkOutDate} 
											AND reservation.RESERVATION_OUT_DATE <= #{checkOutDate} )
                    	)
						
				]]>
				<if test="!hotelSearchMethod.equals('hotelListAll')">
					<![CDATA[
					AND #{people} <= room.ROOM_MAX_PEOPLE
					]]>
					AND 
							hotel.HOTEL_NAME LIKE '%'||#{searchKeyword}||'%'
					
					<if test="!area.equals('전체')">
						AND
							hotel.HOTEL_AREA = #{area}
					
					</if>
				</if>
			
			<if test="filter.equals('yes')">	
				<![CDATA[
					 AND 
						(SELECT min(room.ROOM_PRICE) 
						FROM room 
							WHERE room.HOTEL_ID = hotel.HOTEL_ID 
						) >= #{minPrice}
						
						AND (SELECT min(room.ROOM_PRICE) 
						FROM room 
							WHERE room.HOTEL_ID = hotel.HOTEL_ID 
						) <= #{maxPrice} 
						
						AND
							HOTEL_STAR >= #{minStar} 
						AND 
							HOTEL_STAR <= #{maxStar} 
				 ]]>
				 
				 	<if test="checkedKeyword != null and !checkedKeyword.equals('')">
						AND HOTEL_NAME LIKE '%'||#{checkedKeyword}||'%' 
					</if>
					<if test="checkedConcept != null and !checkedConcept.equals('')">
						AND HOTEL_CONCEPT = #{checkedConcept} 
					</if>
					<if test="parking != null and !parking.equals('')" >
						AND FACILITIES_PARKING = 1 
					</if>
					<if test="pool != null and !pool.equals('')">
						AND FACILITIES_POOL = 1 
					</if>
					<if test="breakfast != null and !breakfast.equals('')">
						AND FACILITIES_BREAKFAST = 1 
					</if>
					<if test="fitness != null and !fitness.equals('')">
						AND FACILITIES_FITNESS = 1 
					</if>
					<if test="wifi != null and !wifi.equals('')">
						AND FACILITIES_WIFI = 1 
					</if>
					<if test="partyRoom != null and !partyRoom.equals('')">
						AND FACILITIES_PARTYROOM = 1 
					</if>
				</if>
			)
	</select>

	<resultMap type="hotelFacilityVO" id="hotelFacility">
		<result property="facilityParking" column="FACILITIES_PARKING" />
		<result property="facilityPool" column="FACILITIES_POOL" />
		<result property="facilityBreakfast"
			column="FACILITIES_BREAKFAST" />
		<result property="facilityFitness" column="FACILITIES_FITNESS" />
		<result property="facilityWifi" column="FACILITIES_WIFI" />
		<result property="facilityPartyRoom" column="FACILITIES_PARTYROOM" />
	</resultMap>

	<resultMap type="clientHotelVO" id="hotelResultMap">
		<result property="hotelId" column="HOTEL_ID" />
		<result property="userId" column="USER_ID" />
		<result property="hotelName" column="HOTEL_NAME" />
		<result property="hotelTel" column="HOTEL_TEL" />
		<result property="hotelArea" column="HOTEL_AREA" />
		<result property="hotelAddress" column="HOTEL_ADDRESS" />
		<result property="hotelConcept" column="HOTEL_CONCEPT" />
		<result property="hotelStar" column="HOTEL_STAR" />
		<result property="hotelRegDate" column="HOTEL_REG_DATE" />
		<result property="lowestPrice" column="lowestPrice" />
		<result property="imageLink" column="mainImage" />
		<collection property="hotelFacility"
			resultMap="hotelFacility" />
	</resultMap>

</mapper>
