<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.spring.hotelspace.client.search.dao.ClientSearchRoomDAO">

	<select id="searchRoom" parameterType="clientRoomVO" resultType="clientRoomVO">
	 select r.room_id,r.hotel_id, r.room_name, r.room_price, r.room_amount,
		r.room_standard_people, r.room_max_people,
		r.room_price_people, r.room_services,
		r.room_info, r.room_usage,I.image_link,I.Image_type,
        (select count(r.room_id)
        from reservation
        <![CDATA[ where 
        to_char(reservation_in_date,'yyyy-mm-dd') >= #{reservationInDate} and 
        to_char(reservation_out_date,'yyyy-mm-dd') <= #{reservationOutDate} and r.room_id = r.room_id
        ]]>)
        as roomCount
		from room r  JOIN ROOM_IMAGE I ON(R.ROOM_ID = I.ROOM_ID)
		where r.hotel_id = #{hotelId}
		order by r.room_id
	
		
	</select>	
		<!-- 	select r.room_id,r.hotel_id, r.room_name, r.room_price, r.room_amount,
		r.room_standard_people, r.room_max_people,
		r.room_price_people, r.room_services,
		r.room_info, r.room_usage,I.image_link,I.Image_type
		from room r  JOIN ROOM_IMAGE I ON(R.ROOM_ID = I.ROOM_ID)
		where r.hotel_id = #{hotelId}
		order by r.room_id
		 -->
		<select id="getRoomImageList" parameterType="java.util.List" resultType="clientRoomVO">
      SELECT
         ROOM_ID,
         IMAGE_LINK,
         IMAGE_TYPE
      FROM
         ROOM_IMAGE
      WHERE
      <foreach collection="list" item="clientRoomVO" separator=" OR ">
         ROOM_Id = #{clientRoomVO.roomId}
      </foreach>
      order by ROOM_ID
   </select>
   
	
</mapper>
